<% content_for :actions do %>
  <div class="left">  
    <%= link_to RestfulAdmin.options[:new_label], new_resource_path, :class => 'button' %>
  </div>
  <div class="middle">
    <%#= form_for @search, :url => { :action => 'index' } do |f| %>
      <%#= f.text_field :restful_admin_quick_search %>
      <%#= f.submit RestfulAdmin.options[:search_label], :class => 'button' %>
    <%# end %>
  </div>
  <div class="right">
    <%= will_paginate(@objects) %>
  </div>
<% end %>

<table class="resources">
  <tr>
    <% @current_model_columns.each do |column| %>
      <th><%= resource_attribute_sort_link(column) %></th>
    <% end %>
  </tr>
  <% @objects.each do |current_object| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <% @current_model_columns.each do |column| %>
        <td><%= resource_attribute_value(current_object, column, :linkify => true, :excerpt => true) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
