<!DOCTYPE html>
<html>
  <head>
    <title>RestfulAdmin</title>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'restful_admin' %>
    <%= javascript_include_tag 'jquery', 'rails' %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
    <header>
      <div id="banner">
        <h1><%= link_to 'RestfulAdmin', root_url %></h1>
      </div>
      <div class="menu">
        <%= resources_menu %>
      </div>
      <div class="content">  
        <%= yield :header %>
      </div>
    </header>
    <div id="main">
      <div class="content">
        <div class="actions">
          <%= yield :actions %>
        </div>
        <%= yield %>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
    <footer>
      <div class="content">  
        <%= yield :footer %>
      </div>
    </footer>
  </body>
</html>
